*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    margin-top: 7%;
    background-color: rgb(82, 79, 79);
    font-family: 'proxima-nova-soft', sans-serif;
}

:root{
    --color_tarjeta: rgb(241, 64, 10);
}

/*Estilos de tarjeta*/
.cards_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
   
    
}



.card_container{
    width: 350px;
    height: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    
    
 
}

.card_img{
    width: 100%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: ease-in-out 1s;

}

.card_container:nth-child(1) .card_img{
    
    background-image: url("img/img1.jpg");
   
}

.card_container:nth-child(2) .card_img{
    
    background-image: url("img/img2.jpg");
    
}

.card_img img{
    width: 100%;
    height: 100%;
}

/*contenido*/
.card_contenido{
    width: 100%;
    position: relative;
    height: 100px;
    
}


.card_contenido .categoria{
    background-color: var(--color_tarjeta);
    display: inline-block;
    color: white;
    font-weight: 700;
    padding: 7px;
    text-align: center;

    position: absolute;
    left: 0;
    top: -32px;
}

.card_texto{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.card_contenido h3,
.card_contenido h6{
    text-align: center;
    padding: 10px 0 0 0;
}

.card_contenido h3{
    font-size: 28px;
    margin-top: 20px;
    
}

.card_contenido h6{
    font-size: 20px;
    color: var(--color_tarjeta);
}

.card_contenido p{
    display: inline-block;
    width: 80%;
    margin-top: 10px;
    color: gray;
    transform: translateY(120px);
    transition: ease-in-out 1s;
    
}


.card_container:hover .card_img{
    height: 40%;
    
}

.card_container:hover .card_contenido p{
    transform: translateY(0px);
   
}

@media (max-width: 650px) {
    .card_img{
        height: 40%;
        
    }
    .card_contenido p{
        transform: translateY(0px);
       
    }
}


