*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height:100vh;
}


:root{
    /*variables del nav*/
    --nav_size:80px;
    --nav_color: rgba(71,85,94,255);
    --nav_color_scroll: rgb(92, 154, 196);
    --nav_color_enlaces: white;
    --nav_font_size:20px;
    
}

/*Estilos del nav*/
.nav_container{
    position: fixed; /*Si se desea fijo en la parte superior*/
    top: 0;/**/
    width: 100%;
    height: var(--nav_size);
    font-size: var(--nav_font_size);
    background-color: var(--nav_color) ;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_container2{
    background-color: var(--nav_color_scroll) ;
   
}

.nav_logo{
    height: 95%;
    width: 9%;
    min-width: 100px;
}

.nav_logo img{
    width: 100%;
    height: 100%;
}

.nav_enlaces{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    min-width: 450px;
    height: 100%;
    
}

.nav_enlace{
    margin-left: 1%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    
   
}

.nav_enlace a{
    text-decoration: none;
    color: var(--nav_color_enlaces);
}

.nav_enlace:hover{
    
    border-bottom: 4px solid var(--nav_color_enlaces);
    
}
.hamburguesa {
    display: none;
    font-size: 50px;
    text-align: center;
    color: var(--nav_color_enlaces);
    cursor: pointer;
    
}



@media (max-width: 650px){
    .nav_enlaces{
        flex-direction: column;
        width: 100%;
        height: 80vh;
        position: absolute;
        padding: 0;
        top: var(--nav_size);
        left: 0;
        min-width: 0;
        background-color: inherit;
        border-top: 2px solid var(--nav_color_enlaces);
        transition: ease-in-out 1s;
        display: none;
        
        
    }

    .nav_enlaces2{
        display:flex ;
       
    }

    .nav_enlace{
        width: 100%;
        border-bottom: 1px solid var(--nav_color_enlaces);
    }

    .hamburguesa{
        display: block;
    }
    



}
