*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    margin-top: 7%;
    background-color: rgb(82, 79, 79);
}

/*Estilos de tarjeta*/
.cards_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
   
    
}

.centrar{
    display: flex;
    justify-content:space-around ;
    align-items: center;
}

.card_container{
    width: 70%;
    height: auto;
    background-color: white;
    flex-direction: column;
    
 
}

/*DERECHA*/
.card_right{
    width: 90%;
    height: 100%;
    flex-direction: column;
}

.card_right img{
    width: 90%;
    transform: translateY(-15%);
    box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);

}

/*IZQUIERDA*/
.card_left{
    width: 90%;
    height: 100%;
    flex-direction: column;
    padding: 2%;
}  

.card_left h3{
    font-size: 25px;
}

.card_left span{
    width: 100%;
    height: 3px;
    display: block;
    background-color: black;
    margin: 3% 0;
    
}

.card_left p{
    margin: 1% 0;
    height:65%;
    width: 100%;

 
}




@media (min-width: 750px){
    .card_container{
        width: 55%;
        height: 350px;
        min-width: 700px;
        background-color: white;
        flex-direction: row;
        
     
    }

    /*DERECHA*/
.card_right{
    width: 60%;
    height: 100%;
    
}

.card_right img{
    width: 90%;
    transform: translateY(0%);
    box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);

}

/*IZQUIERDA*/
.card_left{
    width: 40%;
    height: 100%;
    
}  

.card_left h3{
    font-size: 25px;
}



.card_left p{
    margin: 1% 0;
    height:65%;
    width: 100%;

 
}


}
